body {
	background: #666;
	font-family: 'Lucida Grande', 'Segoe UI', 'Ubuntu', sans-serif;
	font-size: 9pt;
}

#options {
	position: absolute;
	left: 0;
	width: 249px;
	height: 20px;
	padding: 0 0 5px 0;
	bottom: 0;
	background: url('../img/noise.png') #eee;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.125), 0 1px 0 rgba(0,0,0,0.25) inset
}

#options button {
	background: #fafafa;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0 -10px rgba(0,0,0,0.05) inset, 0 1px 2px white;
	padding: 2px 4px;
	vertical-align: -10%;
	margin: 0 0 0 -1px;
	height: 26px;
}

#options button:active {
	background: #ccc;
}

#search {
	display: none;
}

#sidebar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 25px;
	width: 239px;
	padding-left: 10px;
	padding-top: 10px;
	background: url('../img/noise.png') #eee;
	box-shadow: 0 5px 15px -10px rgba(0,0,0,0.5) inset;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: auto;
	cursor: default;
}

#sidebar ul {
	margin: 8px 0;
	padding-left: 0;
}

#sidebar ul ul {
	margin: 0;
}

#sidebar li {
	padding-left: 20px;
	list-style: none;
	white-space: nowrap;
}

#sidebar li.hidden {
	display: none !important;
}

#sidebar.show-hidden li.hidden {
	display: block !important;
	opacity: 0.25;
}

#sidebar li.folder {
	background: url('../img/right-arrow.png') 6px 4px no-repeat;
}

#sidebar li.folder > ul {
	display: none;
}

#sidebar li.folder.open {
	background: url('../img/down-arrow.png') 6px 4px no-repeat;
}

#sidebar li.folder.open > ul {
	display: block;
}

#sidebar li.root {
	padding-left: 0;
}

#sidebar li.selected, #sidebar li.folder.selected {
	background-color: rgba(55,120,194,0.3);
	border-radius: 5px 0 0 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.5);
	color: #3d5979;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#sidebar li.selected.syncing {
	background-image: url('../img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: right center;
}

#sidebar li img {
	margin: 4px;
	vertical-align: -7px;
	min-width: 16px;
	min-height: 16px;
}

#sidebar li i {
	font-size: 8pt;
	color: #444;
}

#sidebar input[type="search"] {
	display: block;
	width: 225px;
	margin: 0;
	padding: 0;
}

#content {
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('../img/nide.png') center center no-repeat, url('../img/noise.png') #aaa;
}

.code-editor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #eee;
}

.code-editor.windowed {
	border-radius: 5px;
	border: 5px solid rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
	background-clip: padding-box;
}

.galaxy-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: url('../img/galaxy.jpg') center center #000;
	background-size: cover;
}

.galaxy-background h1.now {
	position: absolute;
	width: 50%;
	left: 0;
	right: 50%;
	top: 10px;
	color: white;
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	text-shadow: 0 1px 1px black;
}

.galaxy-background h1.then {
	position: absolute;
	width: 50%;
	left: 50%;
	right: 0;
	top: 10px;
	color: white;
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	text-shadow: 0 1px 1px black;
}

.galaxy-background > button {
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 5px;
	padding: 5px 20px;
	color: white;
	box-shadow: 0 23px 5px -10px rgba(255,255,255,0.25) inset, 0 2px 5px black;
	font-family: inherit;
	font-size: inherit;
	text-shadow: 0 1px 1px black;
}

.galaxy-background > button:active {
	box-shadow: 0 23px 5px -10px rgba(255,255,255,0.125) inset, 0 2px 5px black;
	color: #aaa;
}

.galaxy-background > button.done {
	position: absolute;
	right: 52.5%;
	bottom: 10px;
}

.galaxy-background > button.revert {
	position: absolute;
	left: 52.5%;
	bottom: 10px;
}

.galaxy-background > button.backward {
	position: absolute;
	right: 25%;
	bottom: 10px;
}

.galaxy-background > button.forward {
	position: absolute;
	left: 75%;
	bottom: 10px;
}

.directory-editor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: url('../img/folder-large.png') no-repeat center center, url('../img/noise.png') #adbdc8;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.75)
}

#content .documentation-viewer {
	width: 100%;
	height: 100%;
	background: url('../img/noise.png') #fff;
}

#content .documentation-viewer iframe {
	border: none;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#content .actions {
	padding: 8px;
}

#content .CodeMirror {
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	line-height: 1.5em;
}

#content .CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}